<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    {{>Nav}}
    <h1>The weather forecast for <span id='city'>{{city}}</span> <span id='countryCode'>{{country}}</span>:</h1>
    <ul>
        {{#each weatherObject}}
        <li>
            <p>{{this.day}}</p>
            <p>Average temp: {{this.temp}} °C</p>
            <p>{{this.description}}</p>
            <img src={{this.icon}} alt={{this.description}} </li>
            {{/each}}
    </ul>
</body>
</html>